$background: rgb(255, 243, 243);
@mixin buttonStyle {
    cursor: pointer;
    border-radius: .3em;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 1px 0 hsla(0,0%,100%,.8) inset, 0 .15em .1em -.1em rgba(0,0,0,0.3);
    background: linear-gradient(hsla(0,0%,100%,.3), hsla(0,0%,100%,0)) rgba(255, 128, 128, 0.952);
    color: white;
    text-shadow: 0 -0.05em .05em rgba(0,0,0,0.3);
    outline: none;
    padding: .4em .6em;
    font: inherit;
    font-weight: bold;
    font-size: 22px;  
}
*{
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
    background-color:$background;
}
h1,h5{
    color:rgba(31, 2, 2, 0.822);
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 5rem;
    font-family: 'DM Mono', monospace;
}
.board{
    margin-left: -18rem;
}
#grid{
    margin: auto;
    border-spacing: 0;
    border-collapse: collapse;
    td{
        border: 1px solid black;
        }
    @keyframes birth {
        50%{
            box-shadow: 0 0 0 99px red inset;
        }
        100%{
            box-shadow: 0 0 0 99px green inset;
        }
    }
    input[type="checkbox"]{
    margin: 0;
    width: 50%;
    height: 50%;
    background-color: $background;
    display: block;
    appearance: none;
    width: 20px;
    height: 20px;
    }
    input[type="checkbox"]:checked{
    box-shadow: 0 0 0 99px black inset;
    animation: birth 900ms;
    }
}
i{
    font-size: 40px;
}
input[type="range"]{
    display: inline-block;
    width: 50%;
    margin-left: 2rem;
    cursor: pointer;
}
input[type="range"]:hover{
    cursor: pointer;
    opacity: 1;
}
.slider{
    appearance: none;
    transform: rotate(180deg);
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    cursor: pointer;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 15%;
    background: red;
    cursor: pointer;
    transform: translate(180deg);
  }
  
.box{
    height: 500px;
    width: 500px;
    border: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.486) inset, 0 .15em .8em -.1em rgba(0,0,0,0.3);
}
//keys css
.keys-1 li{
    margin-top: 10px;
    padding: 5px;
    list-style: none;
}
#auto, .play, #reset{
    margin-top: 12px;
    margin-bottom: 10px;
    clip: rect();
    @include buttonStyle();
}
.play:active,
#auto:active,
input[type="checkbox"]:checked + label#auto,
#reset:active, .info:active{
    background-image: none;
    box-shadow: 0 .05em .2em rgba(0,0,0,0.5) inset;
}
#autoplay{
    position: absolute;
    clip: rect(0,0,0,0);
}
.play:disabled{
    background-color: rgba(167, 125, 125, 0.952);
    cursor: not-allowed;
}
//keys css ends

//Footer
.foot p{
    color: rgb(49, 41, 41);
    font-weight: 300;
}
.h-01{
    font-weight: bolder;
    color: rgb(0, 0, 0);
}
//Modal Styling
.modal-body p{
    text-align: left;
}
h3,h2{
    text-align: left;
}
h5{
    font-size: 25px;
    font-weight: bolder;
}
.info{
    @include buttonStyle();
    font-size: 15px;
    display: block;
    position: absolute;
    margin-left: 53.5em;
    margin-top: -14em;
}
